
{{#each planInfo}}
  <h3>{{exerciseName}}</h3>
  <p>{{reps1}}</p>
  <p>{{reps2}}</p>

{{/each}}


{{!-- <form action="/updateProgram/{{planInfo._id}}" method="POST">

  
  
  <p>{{title}}</p>
  <p>{{day1}}</p>
  {{#each day1}}
  <p>{{this}}</p>
  <p>{{exerciseName}}</p>
  <input type="Number" name={{exerciseName}} value={{weight}}>
{{/each}}
  {{#each day2}}
  <p>{{exerciseName}}</p>
  <input type="Number" name={{exerciseName}} value={{weight}}>
{{/each}}
  {{#each day3}}
  <p>{{exerciseName}}</p>
  <input type="Number" name={{exerciseName}} value={{weight}}>
{{/each}} 



<button>Save</button>
</form> --}}

<a href="/dashboard">go to dashboard</a>