<div class="planName">
  {{#each planInfo}}
    <p>{{title}}</p>
    {{#each day1}}
    <p>{{exerciseName}}</p>
  {{/each}}
    {{#each day2}}
    <p>{{exerciseName}}</p>
  {{/each}}
    {{#each day3}}
    <p>{{exerciseName}}</p>
  {{/each}}
  {{/each}}



  <form action="/selectprogram/{{planInfo._id}}" method="post">
    <button>Select this program</button>
  </form>

  <a href="/dashboard">Back to your programs view</a>

</div>
