<div class="planInfo-container">
  
  {{#each planInfo}}
    <h3 class="header-programs">{{exerciseName}}</h3>
    <p class="paragraph-info">{{reps1}}</p>
    <p class="paragraph-info">{{reps2}}</p>

  {{/each}}
  <a href="/dashboard" class="linksTrainee">Back to your programs</a>

</div>


{{!-- <form action="/updateProgram/{{planInfo._id}}" method="POST">  
  <p>{{title}}</p>
  <p>{{day1}}</p>
  {{#each day1}}
  <p>{{this}}</p>
  <p>{{exerciseName}}</p>
  <input type="Number" name={{exerciseName}} value={{weight}}>
{{/each}}
  {{#each day2}}
  <p>{{exerciseName}}</p>
  <input type="Number" name={{exerciseName}} value={{weight}}>
{{/each}}
  {{#each day3}}
  <p>{{exerciseName}}</p>
  <input type="Number" name={{exerciseName}} value={{weight}}>
{{/each}} 
<button>Save</button>
</form> --}}

