<div class="container-trainee">
  
  <div class="programsCard">
    <h2 id="userName">Welcome {{user.username}}</h2>
    <h3 class="header-programs">Your Programs</h3>
    {{#if user.userPrograms}}
    {{#each user.userPrograms}}
      <a class="linksTrainee" href="/userProgram/{{_id}}">{{title}}</a>
    {{/each}}
    {{else}}
      <p>select one program</p>
    {{/if}}

    
    <h3 class="header-programs">Choose a Program</h3>
    {{#each allPrograms}}
      <a class="linksTrainee" href="/program/{{_id}}">{{title}}</a>
    {{/each}}
    {{!-- <button><a href="/logout">Log Out</a></button> --}}
  </div>
</div>

