<div class="trainer">
  <div class="header">
<h1 class="greeting"> {{user.username}}</h1>
  <img class="pt" src="https://www.aspata.com/wp-content/uploads/2014/05/Personal-Training.jpg" alt="pt image">
</div>
<h2 class="plans">Plans:</h2>

{{#if user.programs}}

{{#each user.programs}}
  <p class="plan">
    <a href="/program/{{_id}}">{{title}}</a>
  </p>
  {{!--<button class="btn"><a href="/program/edit/{{_id}}"></a>Edit Plan</button>--}}
  <button class="btn"><a href="/program/delete/{{_id}}">Delete Plan</a></button>
{{/each}}
{{else}}
  <p class="no-plan">No plans available</p>
{{/if}}

<button class="btn"><a href="/plan/day1">Create a plan</a></button>
<button class="btn"><a href="/logout">Log Out</a></button>

</div>